<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title></title>
<th:block th:fragment="footerResources">
<!-- Bootstrap core JavaScript-->
<script src="../static/vendor/jquery/jquery.min.js" type="text/javascript" th:src="@{/vendor/jquery/jquery.min.js}" /></script>
<script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript" th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}" /></script>

<!-- Core plugin JavaScript-->
<script src="../static/vendor/jquery-easing/jquery.easing.min.js" type="text/javascript" th:src="@{/vendor/jquery-easing/jquery.easing.min.js}" /></script>

<!-- Custom scripts for all pages-->
<script src="../static/js/sb-admin-2.min.js" type="text/javascript" th:src="@{/js/sb-admin-2.min.js}" /></script>

<!-- Page level plugins -->
<script src="../static/vendor/chart.js/Chart.min.js" type="text/javascript" th:src="@{/vendor/chart.js/Chart.min.js}" /></script>


</th:block>

</head>
</html>

