<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Home</title>
<th:block th:insert="fragments/header::commonResources">Common resource</th:block>
<script th:inline="javascript">
     var myVariable = /*[[${myVariable}]]*/'actor';
</script>
</head>

<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">
		<th:block th:insert="fragments/slider::sliderResources">Common resource</th:block>

		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<!-- Topbar -->
				<th:block th:insert="fragments/topbar::topbarResources">Common resource</th:block>
				<!-- Begin Page Content -->
				<th:block th:if="${lstTable != null}">
					<div class="container-fluid">

						<!-- Page Heading -->
						<h1 class="h3 mb-2 text-gray-800">Database information</h1>

						<!-- DataTales Example -->
						<div class="card shadow mb-4">
							<div class="card-body">
								<div class="table-responsive">
									<th:block th:each="table : ${lstTable}"> 
									<th:block th:if="${table.tableName == 'actor'}">
										<p th:utext="${table.tableName}"></p>
										<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
											<thead>
												<tr>
													<th>Ordinal position</th>
													<th>Column name</th>
													<th>Column data type</th>
													<th>Column data length</th>
													<th>Is nullable</th>
												</tr>
											</thead>
											<tbody>
												<th:block th:each="column : ${table.tableColumns}">
												<tr>
													<td><span th:text="${column.ordinalPosition}"></span></td>
													<td><span th:text="${column.columnName}"></span></td>
													<td><span th:text="${column.columnDataType}"></span></td>
													<td><span th:text="${column.columnDataLength}"></span></td>
													<td>
														<span th:if="${column.nullable == true}">NULL</span>
														<span th:if="${column.nullable == false}">NOT NULL</span>
													</td>
												</tr>
												</th:block>
											</tbody>
										</table>
									</th:block>
									</th:block>
								</div>
							</div>
						</div>
					</div>
				</th:block>
			</div>
		</div>
	</div>
	<th:block th:insert="fragments/footer::footerResources">Common resource</th:block>

</body>

</html>
